{% extends 'base.html' %}
{% load staticfiles %}
{% load static %}
{% block content %}

<div class="container">
    <!--<h3 class="text-darken-4 teal-text">Culture</h3>
    <h5 class="text-accent-4">Select a language</h5>
    <br>-->
    <br>
                <a href="{% url 'home' %}mod/A">
                    <img src="{% static '/assets/img/morocco-2349647-optimized.jpg' %}"  class="responsive-img">
                </a>
                <a href="{% url 'home' %}mod/C">
                    <img src="{% static '/assets/img/china-347297-optimized.jpg' %}" href="{% url 'home' %}mod/A" class="responsive-img">
                </a>


                <a href="{% url 'home' %}mod/R">
                    <img src="{% static '/assets/img/astana-3744160-optimized.jpg' %}" href="{% url 'home' %}mod/A" class="responsive-img">
                </a>
    <br>
    <br>
        <div class="center-align">
                <img src="{% static '/assets/img/TechCenter-logo.png' %}" href="{% url 'home' %}mod/A" class="responsive-img">
        </div>

     <img src="{% static '/assets/img/cc-license.png' %}" href="{% url 'home' %}mod/A" class="responsive-img">
    <br>
    <br>
</div>
{% endblock %}