{% extends 'base.html' %}
{% load staticfiles %}
{% load static %}
{% block content %}

<div class="container">
    <h3 class="text-darken-4 teal-text">Culture</h3>
    <h5 class="text-accent-4">Select a language</h5>
    <br>
    <div class="col s12 m8 offset-m2 l6 offset-l3">
        <div class="card-panel grey lighten-5 z-depth-1">
          <div class="row valign-wrapper">
            <div class="col s2">
            </div>
            <div class="col s10">
              <span class="black-text">
                <h5><a href="{% url 'home' %}mod/A">Arabic</a></h5>
              </span>
            </div>
          </div>
        </div>
        <div class="card-panel grey lighten-5 z-depth-1">
          <div class="row valign-wrapper">
            <div class="col s2">
            </div>
            <div class="col s10">
              <span class="black-text">
                <h5><a href="{% url 'home' %}mod/C">Chinese</a></h5>
              </span>
            </div>
          </div>
        </div>
        <div class="card-panel grey lighten-5 z-depth-1">
          <div class="row valign-wrapper">
            <div class="col s2">
            </div>
            <div class="col s10">
              <span class="black-text">
                <h5><a href="{% url 'home' %}mod/R">Russian</a></h5>
              </span>
            </div>
          </div>
        </div>
      </div>
</div>
{% endblock %}