{% extends 'base.html' %}
{% load static from staticfiles %}
{% load static  %}
{% block content %}
    <div class="section scrollspy">
    <div class="container">
        <h4>{{ scenario.name }}</h4>
        <p><a id="back" href="">Go back</a></p>
    <div class="card-panel grey lighten-5 z-depth-1" id="description">
                <div class="row valign-wrapper">
                    <div class="col s12">
                        <h5>Vignette</h5>
                        <span class="black-text">{{ scenario.description|safe }}</span>
                        <hr>

                        {% if scenario.culture_note and not scenario.culture_note_after_feedback or scenario.culture_note_before_and_after_feedback|yesno:"yes"  %}
                         <div class="col s12">
                                    <strong>Culture Note</strong>
                                <p>{{ scenario.culture_note|safe  }}</p>
                         </div>
                        <hr>
                        {% endif %}
                        {% if scenario.language_note and not scenario.language_note_after_feedback  or scenario.language_note_before_and_after_feedback|yesno:"yes"  %}
                         <div class="col s12">
                                    <strong>Language Note</strong>
                                <p>{{ scenario.language_note|safe  }}</p>
                         </div>
                        <hr>
                        {% endif %}
                        {% if not scenario.context_after_feedback|yesno:"no" or scenario.context_before_and_after_feedback|yesno:"yes" %}
                            <div class="col s12">
                             <strong>Context</strong>
                            <span class="black-text">
                                <p>{{ scenario.initial_information|safe  }}</p>
                            </span>
                            </div>
                        {% endif %}
                    </div>
                </div>
    </div>
     <div class="card-panel grey lighten-5 z-depth-1" id="judgment">

                <div class="row valign-wrapper">
                    <div class="col s12">
                        <strong>{{ scenario.judgment_task.description }}</strong>
                         <div class="col s12">
                            <ul class="collection">
                                {% for an in scenario.judgment_task.get_answers %}
                                    <li class="collection-item">
                                          <span class="title">{{ an.content }}</span>
                                        <br>
                                        <p class="range-field" data-id="{{ an.pk }}">
                                         <input type="range"  min="0" max="5" step="0.1"/>
                                        </p>
                                        </li>
                                {% endfor %}
                            </ul>
                         </div>
                    </div>
                </div>
     <a class="blue btn" id="send">Submit</a>
    </div>
    <div class="card-panel grey lighten-5 z-depth-1" id="feedback">
                    <div id="results">

                    </div>
        <a class="blue btn" id="next">Next</a>
    </div>
    <div class="card-panel grey lighten-5 z-depth-1" id="feedback2">
                <div class="row valign-wrapper">

                    <div class="col s12">
                        {% if scenario.culture_note_after_feedback|yesno:"yes" or scenario.culture_note_before_and_after_feedback|yesno:"yes" %}
                         <div class="col s12">
                                    <strong>Culture Note</strong>
                                <p>{{ scenario.culture_note|safe  }}</p>
                         </div>
                        {% endif %}
                        {% if scenario.language_note_after_feedback|yesno:"yes"  or scenario.language_note_before_and_after_feedback|yesno:"yes"  %}
                         <div class="col s12">
                                    <strong>Language Note</strong>
                                <p>{{ scenario.language_note|safe  }}</p>
                         </div>
                        {% endif %}
                        {% if scenario.context_after_feedback|yesno:"yes" or scenario.context_before_and_after_feedback|yesno:"yes"  %}
                            <div class="col s12">
                             <strong>Context</strong>
                            <span class="black-text">
                                <p>{{ scenario.initial_information|safe  }}</p>
                            </span>
                            </div>
                        {% endif %}

                            {% for top in topic %}
                            <a class="blue btn" id="next" href="{% url 'home' %}top/{{ top.id }}">Explore other scenarios in topic {{ top.name }}</a>
                            {%  endfor %}
                    </div>
                </div>
    </div>
    <div class="card-panel grey lighten-5 z-depth-1" id="preloader">
        <div class="row valign-wrapper">
            <div class="col s12">
                    <div class="progress">
                        <div class="indeterminate"></div>
                    </div>
            </div>
        </div>
    </div>
    <a class="waves-effect blue-grey btn-large" id="desbutton">Vignette</a>
    <a class="waves-effect blue-grey btn-large" id="judgbutton">Judgment Task</a>
    </div>
    </div>
{% endblock %}
{% block js %}
    <script type="text/javascript">
        $(document).ready(function(){
	        $('#back').click(function(){
		        parent.history.back();
		        return false;
	        });
        $("#preloader").hide();
        $("#judgment").hide();
        $("#feedback").hide();
        $("#feedback2").hide();
        $("#feedback3").hide();
        $("#desbutton").click(function(){
            $("#judgment").hide();
            $("#description").show();
        });
        $("#judgbutton").click(function(){
            $("#judgment").show();
            $("#description").hide();
        });
        $("#send").click(function(){
            $("#judgment").hide();
            $("#description").hide();
            $("#desbutton").hide();
            $("#judgbutton").hide();
            var result = [];
            $( ".range-field" ).each(function() {
                        var id = $( this ).attr("data-id");
                        var response = $( this ).find('span').text();
                        var eval = parseFloat(response).toFixed(1);
                        if (isNaN(eval)){
                            eval = 2.5;
                        };
                var promise = saveResponse(id, eval);
                promise.done(function (data) {
                    create_slider([data.answer_id, [data.from, data.to], data.response_id, eval, data.content, data.feedback]);
                });

                });

            $("#preloader").show().delay(1000).fadeOut(500);
            $("#feedback").fadeIn(1500);

        });
        $("#next").click(function(){
            $("#feedback").hide();
            $("#description").hide();
            $("#feedback2").show();
        });
});
    </script>
{% endblock %}