{% extends 'base.html' %}
{% load static from staticfiles %}
{% load static  %}
{% block content %}
    <div class="section scrollspy">
    <div class="container">
        <h4>{{ scenario.name }}</h4>
        <p><a id="back" href="">Go back</a></p>
    <div class="card-panel grey lighten-5 z-depth-1" id="description">
                <div class="row valign-wrapper">
                    <div class="col s12">
                        <h5>Vignette</h5>
                        <span class="black-text">{{ scenario.description }}</span>
                        <hr>
                        {% if scenario.context_after_feedback == 0 %}

                            <span class="black-text">
                                <p>{{ scenario.initial_information|safe  }}</p>
                            </span>
                        {% endif %}
                        {% if scenario.language_note_after_feedback == 0 %}
                         <div class="col s12">
                                    <strong>Language Note</strong>
                                <p>{{ scenario.language_note|safe  }}</p>
                         </div>
                        {% endif %}
                    </div>
                </div>
    </div>
     <div class="card-panel grey lighten-5 z-depth-1" id="judgment">

                <div class="row valign-wrapper">
                    <div class="col s12">
                        <strong>{{ scenario.judgment_task.description }}</strong>
                         <div class="col s12">
                            <ul class="collection">
                                {% for an in scenario.judgment_task.get_answers %}
                                    <li class="collection-item">
                                          <span class="title">{{ an.content }}</span>
                                        <br>
                                        <p class="range-field" data-id="{{ an.pk }}">
                                         <input type="range"  min="0" max="5" step="0.1"/>
                                        </p>
                                        </li>
                                {% endfor %}
                            </ul>
                         </div>
                    </div>
                </div>
     <a class="blue btn" id="send">Submit</a>
    </div>
    <div class="card-panel grey lighten-5 z-depth-1" id="feedback">
                <div class="row valign-wrapper">

                    <table id="feedback_options">
                        <thead>
                            <tr>
                                <th>Option</th>
                                <th>Explanation</th>
                            </tr>
                        </thead>
                            <tbody>
                                    <tr >
                                          <td></td>
                                          <td></td>
                                    </tr>
                            </tbody>
                    </table>
                </div>
        <a class="blue btn" id="next">Next</a>
    </div>
    <div class="card-panel grey lighten-5 z-depth-1" id="feedback2">
                <div class="row valign-wrapper">

                    <div class="col s12">
                        {% if scenario.context_after_feedback == 1 %}
                            <span class="black-text">
                                <p>{{ scenario.initial_information|safe  }}</p>
                            </span>

                        {% elif scenario.language_note_after_feedback == 1 %}
                         <div class="col s12">
                                    <strong>Language Note</strong>
                                <p>{{ scenario.language_note|safe  }}</p>
                         </div>
                            {% else %}
                            {% for top in topic %}
                            <a class="blue btn" id="next" href="{% url 'home' %}top/{{ top.id }}">Explore other scenarios in topic {{ top.name }}</a>
                            {%  endfor %}
                        {% endif %}
                    </div>
                </div>
    </div>
    <div class="card-panel grey lighten-5 z-depth-1" id="feedback3">
                <div class="row valign-wrapper">
                    <div class="col s12">
                        {% include "culture_content/results.html" %}
                    </div>
                </div>
    </div>
    <div class="card-panel grey lighten-5 z-depth-1" id="preloader">
        <div class="row valign-wrapper">
            <div class="col s12">
                    <div class="progress">
                        <div class="indeterminate"></div>
                    </div>
            </div>
        </div>
    </div>
    <a class="waves-effect blue-grey btn-large" id="desbutton">Vignette</a>
    <a class="waves-effect blue-grey btn-large" id="judgbutton">Judgment Task</a>
    </div>
    </div>
{% endblock %}
{% block js %}
    <script type="text/javascript">
        $(document).ready(function(){
	        $('#back').click(function(){
		        parent.history.back();
		        return false;
	        });
        $("#preloader").hide();
        $("#judgment").hide();
        $("#feedback").hide();
        $("#feedback2").hide();
        $("#feedback3").hide();
        $("#desbutton").click(function(){
            $("#judgment").hide();
            $("#description").show();
        });
        $("#judgbutton").click(function(){
            $("#judgment").show();
            $("#description").hide();
        });
        $("#send").click(function(){
            $("#judgment").hide();
            $("#description").hide();
            $("#desbutton").hide();
            $("#judgbutton").hide();
            $( ".range-field" ).each(function() {
                        var id = $( this ).attr("data-id");
                        var response = $( this ).find('span').text();
                        var eval = parseFloat(response).toFixed(1);
                        if (isNaN(eval)){
                            eval = 2.5;
                        };
                saveResponse(id, eval);
                });
            $("#preloader").show().delay(1500).fadeOut(500);
            $("#feedback").fadeIn(2000);
        });
        $("#next").click(function(){
            $("#feedback").hide();
            $("#description").hide();
            $("#feedback2").show();
        });
});
    </script>
{% endblock %}