{% extends 'base.html' %}
{% load static from staticfiles %}
{% load static  %}
{% block content %}
    <div class="section scrollspy">
    <div class="container">
       <img src='/static/culture/media/{{ module.image_for_topics }}' class="responsive-img">
        <h1>{{ topic }}</h1>
        <h2><strong>{{ scenario.name }}</strong></h2>
        <a class="waves-effect blue btn" id="desbutton">Situation</a>
        <br>
        <br>
    <div  id="description">
                <div class="row valign-wrapper">
                    <div class="col s12">
                        <h3>Situation</h3>
                        <span class="black-text">{{ scenario.description|safe }}</span>
                        {% if not scenario.context_after_feedback|yesno:"no" or scenario.context_before_and_after_feedback|yesno:"yes" %}

                             <h3>Context</h3>
                                <p>{{ scenario.initial_information|safe  }}</p>

                        {% endif %}
                        {% if scenario.culture_note and not scenario.culture_note_after_feedback or scenario.culture_note_before_and_after_feedback|yesno:"yes"  %}
                                    <h3>Culture Note</h3>
                                <p>{{ scenario.culture_note|safe  }}</p>
                        {% endif %}
                        {% if scenario.language_note and not scenario.language_note_after_feedback  or scenario.language_note_before_and_after_feedback|yesno:"yes"  %}

                                    <h3>Language Note</h3>
                                <p>{{ scenario.language_note|safe  }}</p>

                        {% endif %}
                    </div>
                </div>
    </div>
     <div id="judgment">


                    <div class="col s12">
                        <p class="instructions">{{ scenario.judgment_task.description }}</p>
                         <div class="col s12">
                            <ul>
                                {% for an in scenario.judgment_task.get_answers %}
                                    <li class="collection-item">
                                          <p>{{ an.content }}</p>
                                        <p class="range-field" data-id="{{ an.pk }}">
                                         <input type="range"  min="0" max="5" step="0.1"/>
                                        </p>
                                        <br>
                                        </li>
                                {% endfor %}
                            </ul>
                         </div>
                    </div>

     <a class="blue btn" id="send">Submit</a>
     <br>
     <br>
    </div>
    <a class="waves-effect blue btn" id="judgbutton">Judgment Task</a>
    </br>
    </br>
    <div id="feedback">
        <h3>Situation</h3>
        <p class="instructions">{{ scenario.description|safe }}</p>
        <h3>Feedback</h3>
                    <div id="results">

                    </div>
        <a href="#" id="next">Next</a>
    </div>
    <div  id="feedback2">


                        {% if scenario.context_after_feedback|yesno:"yes" or scenario.context_before_and_after_feedback|yesno:"yes"  %}

                             <h3>Context</h3>
                                <p>{{ scenario.initial_information|safe  }}</p>

                        {% endif %}
                        {% if scenario.culture_note_after_feedback|yesno:"yes" or scenario.culture_note_before_and_after_feedback|yesno:"yes" %}

                                    <h3>Culture Note</h3>
                                <p>{{ scenario.culture_note|safe  }}</p>

                        {% endif %}
                        {% if scenario.language_note_after_feedback|yesno:"yes"  or scenario.language_note_before_and_after_feedback|yesno:"yes"  %}

                                    <h3>Language Note</h3>
                                <p>{{ scenario.language_note|safe  }}</p>

                        {% endif %}
                            <a id="next" href="{% url 'home' %}top/{{ topic.id }}">Explore other scenarios in topic {{ topic.name }}</a>

                </div>
    </div>
    <div id="preloader">
        <div class="row valign-wrapper">
            <div class="col s12">
                    <div class="progress">
                        <div class="indeterminate"></div>
                    </div>
            </div>
        </div>
    </div>

    </div>
    </div>
{% endblock %}
{% block js %}
    <script type="text/javascript">
        $(document).ready(function(){
	        $('#back').click(function(){
		        parent.history.back();
		        return false;
	        });
        $("#preloader").hide();
        $("#desbutton").hide();
        $("#judgment").hide();
        $("#feedback").hide();
        $("#feedback2").hide();
        $("#feedback3").hide();
        $("#desbutton").click(function(){
            $("#judgment").hide();
            $("#description").show();
            $("#desbutton").hide();
            $("#judgbutton").show();
            $("html, body").animate({ scrollTop: 0 }, "slow");
        });
        $("#judgbutton").click(function(){
            $("#judgment").show();
            $("#description").hide();
            $("#judgbutton").hide();
            $("#desbutton").show();
            $("html, body").animate({ scrollTop: 0 }, "slow");
        });
        $("#send").click(function(){
            $("#judgment").hide();
            $("#description").hide();
            $("#desbutton").hide();
            $("#judgbutton").hide();
            var result = [];
            $( ".range-field" ).each(function() {
                        var id = $( this ).attr("data-id");
                        var response = $( this ).find('span').text();
                        var eval = parseFloat(response).toFixed(1);
                        if (isNaN(eval)){
                            eval = 2.5;
                        };
                var promise = saveResponse(id, eval);
                promise.done(function (data) {
                    create_slider([data.answer_id, [data.from, data.to], data.response_id, eval, data.content, data.feedback]);
                });

                });

            $("#preloader").show().delay(1000).fadeOut(500);
            $("#feedback").fadeIn(1500);

        });
        $("#next").click(function(){
            $("#feedback").hide();
            $("#description").hide();
            $("#feedback2").show();
        });
});
    </script>
{% endblock %}