{% extends 'base.html' %}
{% load static from staticfiles %}
{% load static  %}
{% block content %}
<div class="section scrollspy">
    <div class="container">

 {% if  topic.language == 'A'   %}
     <a href="/mod/{{ module.language }}/"><img src="{% static '/assets/img/morocco-2349647-optimized.jpg' %}"  class="responsive-img"></a>

    {% elif topic.language == 'C'  %}
         <a href="/mod/{{ module.language }}/"><img src="{% static '/assets/img/china-347297-optimized.jpg' %}"  class="responsive-img"></a>

    {% elif topic.language == 'R'  %}
     <a href="/mod/{{ module.language }}/"><img src="{% static '/assets/img/chalk-672187-optimized.jpg' %}"  class="responsive-img"></a>

    {% endif %}

                    <h1>{{ module }}</h1>
                    <h2>{{ topic }}</h2>
                        {% for scenario in topic.scenarios.all %}
                            <p><a href="{% url 'home' %}scenario/{{ scenario.pk }}">{{ scenario }}</a></p>
                        {% endfor %}

    </div>

</div>
{% endblock %}
{% block js %}
    <script>
     $(document).ready(function(){
        $( "#reflection" ).hide();
        $( "#reflectitle" ).click(function() {
        $( "#reflection" ).toggle("slow");
            });
        });
    </script>
{% endblock %}